@font-face {
  font-family: "noori";
  src: url("./assets/Fonts/noor/noor.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "noori";
  src: url("./assets/Fonts/noor/Noor_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "noori";
  src: url("./assets/Fonts/noor/Noor_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
